<html lang="th">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NOW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Kanit|Quicksand" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex justify-content-between" style="width: 100%">
            <a class="navbar-brand" href="#">MN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">เกี่ยวกับเรา</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/activity">กิจกรรม</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact">ติดต่อเรา</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/manowz.phulin"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/phulilin/"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/phulinMN"><i class="fab fa-github-alt fa-lg"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="http://line.me/ti/p/~pongpaimn"><i class="fab fa-line fa-lg"></i></a></li>
            </ul>
            </div>
        </div>
    </nav>