<% include partials/header %>

    <h1><%= title %></h1>
    <!-- <iframe src="https://open.spotify.com/embed?uri=spotify:user:21phfgkbaby5qpupwdbmg5dxi:playlist:3Weh4gyeIrpTUTJStTW9Zh" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    <div class="timeline">
        <div class="container left">
            <div class="content">
            <h2>2015-ปัจจุบัน</h2>
            <p>มหาวิทยาลัยเกษตรศาตร์</p>
            </div>
        </div>
        <div class="container right">
            <div class="content">
            <h2>2009 - 2014</h2>
            <p>โรงเรียนราชวินิตบางแก้ว</p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
            <h2>2002 - 2008</h2>
            <p>โรงเรียนเซนต์โยเซฟบางนา</p>
            </div>
        </div>
    </div>
    

<% include partials/footer %> 