<% include partials/header %>
    <div class="container">
        <h1>ผลงาน</h1>
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <% activities.forEach(function(a) { %>
                    <div class="card">
                        <!-- <img class="card-img-top" src="/img/mickey.png" alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title"><%= a.activity_name %></h5>
                            <p class="card-text"><%= a.detail %></p>
                            </div>
                            <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    
        
<% include partials/footer %> 