<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About me</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/skill">Skill</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/activity">Activity</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        </div>
    </nav>
    <!-- Form Contact -->
    <div>

    </div>
    <h1><%= title %></h1>
    <form method="POST" action="/contact/add">
        <label>ชื่อ</label>
        <input type="text" name="first_name">
        <label>นามสกุล</label>
        <input type="text" name="last_name">
        <br>
        <label>เบอร์มือถือ</label>
        <input type="text" name="phone">
        <br>
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <label>รายละเอียด</label><br>
        <input type="text" name="description">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
    <ul>
        <% persons.forEach(function(person) { %>
            <li><%= person.first_name %> <%= person.last_name %></li>
        <% }) %>
    </ul>
<% include partials/footer %>  