<% include partials/header %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About me</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/skill">Skill</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/activity">Activity</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <h1><%= title %></h1>
                <% if(errors){ %>
                    <ul>
                    <% errors.forEach(function(error) { %>
                        <li><%= error.msg %></li>
                    <% }) %>
                    </ul>
                <% } %>
                <!-- <form> -->
                <form method="POST" action="/contact/add">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>ชื่อ*</label>
                            <input type="text" class="form-control" name="first_name" placeholder="ชื่อ">
                        </div>
                        <div class="col-md-6">
                            <label>นามสกุล*</label>
                            <input type="text" class="form-control" name="last_name" placeholder="นามสกุล">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>เบอร์มือถือ*</label>
                            <input type="text" class="form-control" name="phone" placeholder="example: 099-999-9999">
                        </div>
                        <div class="col-md-6">
                            <label>Email*</label>
                            <input type="text" class="form-control" name="email" placeholder="example: xxx@gmail.com">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label>รายละเอียด*</label>
                            <textarea type="text" class="form-control" rows="5" name="description"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
        
<% include partials/footer %> 